# For MacOS:
.DS_Store

# For *nix:
*.swp

# For node
**/node_modules

# For smarty
**/templates_c

# For PHP
**/vendor

# For  Intellij IDE
**/.idea

# For  gizp
**/.gz



cache/
phpmyadmin
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
.idea
.gradle

# For vim:
*.swp

# For build
build/

# For intellij
*.iml


28test